.li-comentarios{
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  min-width: 550px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  &:hover{
    background-color: #cae5e698;
  }
}
.ul-comentarios{
  margin: 10px;
}
.h2-comentarios{
  color: #4c5e5e;
}