.form-comentarios{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 500px;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid;
    padding-block: 1rem;
}
.div-input{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-right: 65px;
    gap: 0.3rem;
    padding: 0.3rem;
}
.input-form{
    font-size: 1.3rem;
    color: #354444;
    border: 0.2px solid;
    border-radius: 0.12rem;
    padding: 0.2rem;
}
.label-form{
    font-size: 1.3rem;
    color: #4c5e5e;
}
::placeholder{
    font-size: 0.9rem;
    padding-left: 0.2rem;
}
.btn-form{
    font-size: 1.2rem;
    padding: 0.2rem 0.9rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #4c5e5e;
    transition-duration: 0.4s;

    color: #f9f9f9;
    cursor: pointer;
    &:hover{
        background-color: #688080;
        transition-duration: 0.4s;
    }
}